.wrapper {
  width: 30vw;
  font-size: 20px;
  margin: 0 auto;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather_icon {
  width: 8vw;
  display: block;
}

.city_name {
  font-size: 3vw;
  font-weight: 900;
  color: #fff;
  text-align: center;
}

.windSpeed, .windDirection  {
  color: #fff;
}

