* {
  margin: 0;
  padding: 0;
  font-family: Nunito;
}

img {
  width: 100%;
  display: block;
}



.red {
  background-image: url(./common/images/afternoon.png);
  background-repeat: no-repeat;
  background-size: 100vw;
  background-color: #f7aa46;
}

.blue {
  background-image: url(./common/images/night.jpg);
  background-repeat: no-repeat;
  background-size: 100vw;
  background-color: #43356a;
}


@media only screen and (max-width: 1200px)  {
  .red {
    background-image: url(./common/images/afternoon-tabs.png);
    background-repeat: no-repeat;
    background-color: #fadea7
  }

  .blue {
    background-image: url(./common/images/night-tabs.jpg);
    background-repeat: no-repeat;
    background-size: 100vw;
    background-color: #010006;
  }
  
}

